*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
    background-image: url('../img/BG.webp');
    background-repeat: no-repeat;
    background-size: cover;
}


/* Estilização da navbar */ 
nav{
    padding: 10px 0px;
    backdrop-filter: blur(100px);
    border-bottom: 1px solid #4b4b4b48;
}
.navbar-brand{
    margin-left: 17vw;
}

.navbar-dark .navbar-nav .nav-link{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 100;
}

nav > button{
    color: #868686;
}
.navbar-collapse{
    justify-content: flex-end;
    
}
.navbar-nav{
    width: 51vw;
    gap: 3em;
}
/*Fim da Navbar*/ 

/*Estilização da area do video (video_session)*/ 

.video_section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Phone{
    display: flex;
    align-items: center;
    margin-left: -240px;
    animation: mymove 7s 1;
}

#BG{
    height: 720px;
}

.video{
    height: 458px;
}

.slider{
    height: 458px;
    width: 257.625px;
    margin-left: -475px;
    margin-top: 17px;
}

.slides{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.slides button{
    position: absolute;
    width: 40px;
    background-color: #ffffff00;
    border: none;
}

#first{
    height: 120px;    
    margin-top: 170px;
}

#first img{
    width: 20px;
}

#play{
    display: none;
    height: 500px;
    background-color: #ffffff00;
    border: none;
    margin-left: 120.625px;
}

#play img{
    width: 25px;
}

#second{
    margin-left: 220px;
    height: 120px;
    margin-top: 170px;
}

#second img{
    width: 20px;
}

#mute{
    margin-left: 220px;
    height: 40px;
    margin-top: 419px;
    background-color: #ffffff00;
    border: none;
}

#mute img{
    width: 20px;
}

.manual-navigation{
    display: flex;
    justify-content: center;
    margin-top: 57px;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

.video_section > aside{
    transition: 300ms;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 353px;
    margin-left: 150px;
    font-family: 'Roboto', sans-serif;
}

.video_section > aside:hover{
    opacity: 0.9;
    transition: 300ms;
}

.video_section > aside > h1{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 61px;
    animation: mymove 5s 1;
}

.video_section > aside > p{
    line-height: 1.2;
    color: #92929daf;
    font-size: 28px;
    animation: mymove 9s 1;
}

#Download_link {
    display: inline;
    width: 122px;
    padding-top: 32px;
    animation: mymove 5s 1;
}

/* Fim da Video session */ 

/* Estilização Sessão de conteudos */

.img {
    height: 452px;
}

article{
    margin-top: 20vh;
    padding-top: 9vh;
    height: 250vh;
}

article > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60vh;
}

.contain_section_3 img{
    margin-right: 138px;
}

.contain_section_4 img{
    margin-left: 6vw;
}

.contain_section_1 > aside{
    width: 35vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contain_section_1 > aside > h1{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 46px;
    animation: mymove 5s 1;
}

.contain_section_1 > aside > p{
    line-height: 1.2;
    color: #92929daf;
    font-size: 23px;
    animation: mymove 9s 1;
    width: 292px;
}

.contain_section_2 > aside{
    width: 25vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contain_section_2 > aside > h1{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 46px;
    animation: mymove 5s 1;
}

.contain_section_2 > aside > p{
    line-height: 1.2;
    color: #92929daf;
    font-size: 23px;
    animation: mymove 9s 1;
    width: 322px;
}

.contain_section_3 > aside{
    width: 22vw;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 9vw;
}

.contain_section_3 > aside > h1{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 46px;
    animation: mymove 5s 1;
}

.contain_section_3 > aside > p{
    line-height: 1.2;
    color: #92929daf;
    font-size: 23px;
    animation: mymove 9s 1;
    width: 230px;
}

.contain_section_4 > aside{
    width: 337px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contain_section_4 > aside > h1{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 46px;
    animation: mymove 5s 1;
}

.contain_section_4 > aside > p{
    line-height: 1.2;
    color: #92929daf;
    font-size: 23px;
    animation: mymove 9s 1;
    width: 322px;
}
/* Fim estilização Sessão de conteudos*/

/* Estilização Acervo*/

#acervo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title > h1{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 35px;
}

.title > p{
    line-height: 1.2;
    color: #92929daf;
    text-align: center;
    font-size: 23px;
}

.albuns {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 310px;
    width: 616px;
    overflow: hidden;
}

.albuns label{
    opacity: 1;
    width: 153px;
    height: 153px;
    margin-bottom: 0;
    border: none;
    background: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.albuns label:hover{
    cursor: default;
}

.carousel{
    display: none;
}

#cover{
    width: 153px;
    height: 153px;
    transition: 500ms;
}

#acervo_btn{
    position: absolute;
    width: 35px;
    height: 50px;
    opacity: 0.3;
    transition: 500ms;
}
/*Estilização video acervo*/

#video_acervo{
    height: 550px;
    width: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Phone_acervo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg_phone_acervo{
    height: 458px;
    position: absolute;
}

#Video_acervo {
    height: 400px;
    margin-left: 2.5px;
    position: relative;
}

.carousel_video_acervo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    height: 235px;
    margin-top: 50px;
    transition-delay: 250ms;
}

#close_video_acervo{
    width: 17px;
    margin-left: auto;
}

#close_video_acervo:hover{
    cursor: pointer;
}

#muted_video_acervo{
    width: 19px;
    position: absolute;
    margin-top: 186px;
    margin-left: 95px;
}

#muted_video_acervo:hover{
    cursor: pointer;
}

#speaker_video_acervo{
    width: 19px;
    position: absolute;
    margin-top: 186px;
    margin-left: 95px;
}

#speaker_video_acervo:hover{
    cursor: pointer;
}

.carousel_video_acervo img {
    width: 58px;
}

.carousel_video_acervo img:hover{
    cursor: pointer;
}

.albuns-carousel_video_acervo {
    height: 82px;
    width: 433px;
    overflow: scroll;
}

.albuns-carousel_video_acervo::-webkit-scrollbar {
    display: none;
}

.item-carousel_video_acervo{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

#cover_carousel_video_acervo {
    width: 82px;
    height: 82px;
    transition: 500ms;
}

.item-carousel_video_acervo label{
    width: 82px;
    height: 82px;
    margin-bottom: 0;
    border: none;
    background: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-carousel_video_acervo label:not(:first-child){
    margin-left: 20px;
}

#btn_carousel_video_acervo{
    position: absolute;
    width: 23px;
    opacity: 0.3;
    transition: 500ms;
}


/* Fim estilização video acervo */
/*Estilização pop-up*/
#pop-up{
    background: #000000c7 0% 0% no-repeat padding-box;
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: none;
    justify-content: center;
}

#Phone_pop-up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -67px;
}

#bg_phone_pop-up{
    height: 645px;
    position: absolute;
}

#Video_pop-up{
    height: 570px;
    position: absolute;
    margin-left: 3.8px;
}

#close_pop-up{
    width: 25px;
    height: 32px;
    margin-bottom: auto;
    margin-right: 67px;
    margin-top: 17px;
}

#close_pop-up:hover{
    cursor: pointer;
}

#btn_close_pop-up{
    width: 100vw;
    height: 100vh;
    background: none;
    border: none;
    cursor: default;
}


#muted_pop-up{
    width: 25px;
    position: absolute;
    margin-top: 530px;
    margin-left: 273px;
}

#speaker_pop-up{
    width: 25px;
    position: absolute;
    margin-top: 530px;
    margin-left: 273px;
}

/* Fim da estilização do Acervo */

/* Estilização do FAQ */

#faq{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title_faq h2{
    letter-spacing: -0.48px;
    padding-bottom: 30px;
    font-size: 46px;
    font-weight: bold;
    color: #ffffff;
}

.faqs{
    width: 614px;
}

.faqs details:not(:first-child){
    border-top: 1px solid #ffffff25;
}

details{
    padding: 0 1vw;
}

details > summary {
    padding: 2.5vh 0;
    font-size: 26px;
    color: #ffffffde;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

details > summary > img{
    width: 15px;
    height: 15px;
}

details[open] > summary img{
    transform: rotate(90deg);
}

.text{
    color: #ffffffde;
    font-size: 16px;
}

/* Fim da estilização do FAQ*/

/*Estilização do Formulario*/

#Captacao_usuarios{
    height: 100vh;
    display: flex;
    align-self: center;
    justify-content: center;
}

.inscricao{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.inscricao > h2{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 54px;
}

.inscricao > p{
    width: 796px;
    padding: 2vh 0;
    line-height: 1.2;
    color: #92929daf;
    font-size: 30.7px;
    text-align: center;
}

.form_inscricao{
    display: flex;
    flex-direction: row;
    height: 7vh;
}

.form_inscricao > div > input{
    background: none;
    border: 1px solid #FFFFFF61;
    color: white;
    width: 328px;
    height: 56px;
    padding: 11px;
}

.form_inscricao > div > p{
    margin-bottom: 0;
    color: #ffffff;
    padding-left: 5px;
}

.form_inscricao > div:nth-child(2) {
    margin-left: 45px;
}

.form_inscricao > button{
    background: #1E64E8 0% 0% no-repeat padding-box;
    width: 242px;
    height: 50px;
    border-radius: 24px;
    margin-left: 45px;
    border: none;
    color: #ffffff;
}

.agradecimento{
    width:60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all 400ms;
}

.agradecimento > h3{
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 3.5vw;
}

.agradecimento > p{
    width: 36vw;
    padding: 2vh 0;
    line-height: 1.2;
    text-align: center;
    color: #92929daf;
    font-size: 2vw;
}

.agradecimento > button{
    background: #1E64E8 0% 0% no-repeat padding-box;
    width: 242px;
    height: 50px;
    border-radius: 24px;
    border: none;
    color: #ffffff;
}

/* Fim da estilização do formulario */

/* Estilização do rodapé */

footer{
    height: 50vh;
    width: 98vw;
    margin-bottom: 100px;
}

.apoiadores{
    margin-top: 50vh;
    width: 98.9vw;
    height: 100px;
    border-top: 1px solid #ffffff20;
    border-bottom: 1px solid #ffffff20;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.logo-apoiadores{
    height: 100px;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.logo-apoiadores img:first-child{
    width: 160px;
}

.logo-apoiadores img{
    width: 136px;
    height: 50px;
}

.Infos div h3{
    font-size: 20px;
    color: #ffffffde;
}

.Infos div p{
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 16px;
    color: #92929daf;
}


.Infos div a{
    text-decoration: none;
    margin-top: 8px;
    font-size: 16px;
    color: #92929daf;
}


.Infos div a:visited {
    text-decoration: none;
}

.Infos div a:hover {
    text-decoration: underline;
}

.Infos div a:active {
    text-decoration: underline;
}
.contatos{
    width: 98.9vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Infos{
    margin-top: 50px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Infos div{
    height: 193px;
    max-width: 261px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.redes_sociais{
    width: 70vw;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}

.logos_redes{
    width: 224.26px;
    height: 24.26px;
    display: flex;
    justify-content: space-between;
}

.logos_redes a img{
    width: 25.68px;
    height: 19.98px;
}

.redes_sociais p{
    margin-bottom: 0;
    font-size: 20px;
    color: #92929daf;
}
/* Fim da estilização do rodapé */

[data-anime]{
    opacity: 0;
    transition: 1s;
}

[data-anime="left"]{
    transform: translate3d(-25px,0,0);
}

[data-anime="right"]{
    transform: translate3d(25px,0,0);
}

[data-anime="fade"]{
    transition: 1s;
}

[data-anime].animate {
    opacity: 1;
}

@media screen and (max-width:1281px){
    body{
        overflow-x: hidden;
    }
    .navbar-brand{
        margin-left: 5vw;
    }
    .navbar-nav{
        width: 58vw;
        gap: 2em;
    }
}

/* Tamanho de tela que inicia o menu responsivo */ 
@media screen and (max-width: 992px){
    body{
        background: #000000 url('/img/Responsive_BG.png');
    }

    .navbar-nav{
        display: flex;
        align-items: center;
        width: 10vw;
        gap: 0;
        padding: 0;
    }

    .navbar-brand{
        width: 250px;
    }

    .video_section{
        flex-direction: column-reverse;
        align-items: center;
    }

    .Phone{
        width: auto;
        display: flex;
        padding-top: 32px;
        margin-left: 0;
        animation: mymove 7s 1;
    }

    .video_section > aside{
        margin-left: 0;
        width: 590px;
        padding-top: 360px;
        text-align: center;
    }

    .video_section > aside > h1 {
        font-size: 53px;
    }

    .video_section > aside > p {
        font-size: 26px;
    }

    #BG{
        display: none;
    }
    
    .video {
        height: 500px;
    }

    .slider {
        height: 570px;
        width: 281.25px;
        margin-left: 0; 
    }

    .manual-navigation{
        margin-top: 5vh;
    }

    #first{
        height: 120px;
        margin-top: 185px;
    }

    #play{
        display: inline;
        width: 190.25px;
        margin-left: 50px;
    }
    
    #second{
        margin-left: 240.625px;
        height: 120px;
        margin-top: 185px;
        align-items: center;
    }
    
    #mute{
        margin-left: 240.625px;
        height: 40px;
        margin-top: 460px;
    }


    article > div {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 150px;
    }

    article{
        height: 3500px;
        margin-top: 0;
        padding-top: 300px;
    }

    .img{
        width: 443px;
        height: 400px;
        margin: 0;
        margin-top: 10px;
    }

    .contain_section_1 > aside {
        width: 590px;
    }

    .contain_section_1 > aside > h1{
        font-size: 45px;
        text-align: center;
    }

    .contain_section_1 > aside > p {
        font-size: 30px;
        width: 590px;
        text-align: center;
    }
    
    .contain_section_2{
        flex-direction: column;
    }

    .contain_section_2 > aside {
        width: 590px;
    }

    .contain_section_2 > aside > h1{
        font-size: 45px;
        text-align: center;
    }

    .contain_section_2 > aside > p {
        font-size: 30px;
        width: 590px;
        text-align: center;
    }

    .contain_section_3 > aside {
        width: 590px;
        margin-right: 0;
    }

    .contain_section_3 > aside > h1{
        font-size: 45px;
        text-align: center;
    }

    .contain_section_3 > aside > p {
        font-size: 30px;
        width: 590px;
        text-align: center;
    }

    .contain_section_3 img {
        margin-right: 0;
    }

    .contain_section_4{
        flex-direction: column;
    }

    .contain_section_4 > aside {
        width: 590px;
    }

    .contain_section_4 > aside > h1{
        font-size: 45px;
        text-align: center;
    }

    .contain_section_4 > aside > p {
        font-size: 30px;
        width: 590px;
        text-align: center;
    }

    .contain_section_4 > img{
        margin-left: 0;
    }
    /*Carousel Acervo*/

    .albuns{
        display: none;
    }
    
    .title {
        width: 500px;
    }

    .title > h1{
        font-size: 45px;
    }
    
    .title > p{
        font-size: 21px;
    }

    .carousel{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 440px;
        height: 235px;
    }

    .carousel img {
        width: 7vw;
    }

    .carousel img:hover{
        cursor: pointer;
    }
    
    .albuns-carousel {
        height: 180px;
        overflow: scroll;
    }
    
    .albuns-carousel::-webkit-scrollbar {
        display: none;
    }
    
    .item-carousel{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    
    #cover_carousel {
        width: 173px;
        height: 173px;
        transition: 500ms;
    }
    
    .item-carousel label{
        width: 200px;
        height: 173px;
        margin-bottom: 0;
        border: none;
        background: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .item-carousel label:not(:first-child){
        margin-left: 3.5vw;
    }
    
    #btn_carousel{
        position: absolute;
        width: 40px;
        opacity: 0.3;
        transition: 500ms;
    }

    .faqs {
        width: 70vw;
    }

    .title_faq > h2{
        font-size: 6vw;
    }

    details > summary{
        font-size: 3.5vw;
    }

    .text{
        font-size: 2.5vw;
    }

    .inscricao > h2 {
        width: 80vw;
        font-size: 6.5vw;
        text-align: center;
    }

    .inscricao > p {
        width: 77vw;
        font-size: 4vw;
    }

    .form_inscricao {
        flex-direction: column;
        align-items: center
    }

    .form_inscricao > div:nth-child(2) {
        margin-left: 0;
        margin-top: 30px;
    }

    .form_inscricao > button{
        margin-left: 0;
        margin-top: 30px;
        line-height: 50px;
      
    }
    
    .agradecimento > h3 {
        width: 100vw;
        font-size: 6.5vw;
        text-align: center;
    }

    .agradecimento > p {
        width: 77vw;
        font-size: 4vw;
    }
    
    .logo-apoiadores{
        width: 96vw;
    }
    
    .Infos {
        width: 94vw;
    }

    .Infos div{
        max-width: 165px;
    }

    .Infos div h3 {
        font-size: 15px;
        margin: 0 auto;
    }

    .Infos div a {
        font-size: 13px;
        margin: auto;
    }

    .Infos div p {
        font-size: 13px;
        margin: auto;
    }

    .redes_sociais {
        width: 84vw;
    }

}

@media screen and (max-width:600px) {

    nav button{
        margin-right: 20px;
    }

    main {
        width: 100vw;
    }

    .video_section > aside {
        width: 360px;
    }

    .video_section{
        display: flex;
        align-items: center;
        width: 100vw;
        gap: 0;
        padding: 0;
        margin: auto;
    }

    article > div {
        flex-direction: column-reverse;
        align-items: center;
    }

    article{
        height: 400vh;
        margin-top: 0;
        padding-top: 300px;
    }

    .img{
        width: 443px;
        height: 400px;
        margin: 0;
        margin-top: 10px;
    }

    .contain_section_1 > aside {
        width: 410px;
    }

    .contain_section_1 > aside > h1{
        font-size: 30px;
        text-align: center;
    }

    .contain_section_1 > aside > p {
        font-size: 17px;
        width: 400px;
        text-align: center;
    }

    .contain_section_2 > aside {
        width: 410px;
    }

    .contain_section_2 > aside > h1{
        font-size: 30px;
        text-align: center;
    }

    .contain_section_2 > aside > p {
        font-size: 17px;
        width: 400px;
        text-align: center;
    }

    .contain_section_3 > aside {
        width: 410px;
        margin-right: 0;
    }

    .contain_section_3 > aside > h1{
        font-size: 30px;
        text-align: center;
    }

    .contain_section_3 > aside > p {
        font-size: 17px;
        width: 400px;
        text-align: center;
    }

    .contain_section_4 > aside {
        width: 410px;
    }

    .contain_section_4 > aside > h1{
        font-size: 30px;
        text-align: center;
    }

    .contain_section_4 > aside > p {
        font-size: 17px;
        width: 400px;
        text-align: center;
    }

    #acervo {
        height: 500px;
    }

    .title{
        width: 400px;
    }

    .title > h1 {
        font-size: 35px;
    }

    .title p{
        text-align:  initial;
    }

    .logo-apoiadores img {
        width: 107px;
        height: 39px;
    }
}


@media screen and (max-width:480px) {
    [data-anime="left"]{
        transform: translate3d(-7px,0,0);
    }
    
    [data-anime="right"]{
        transform: translate3d(7px,0,0);
    }

    .navbar{
        background-color: #000000;
        width: 100vw;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        width: 100vw;
        gap: 0;
        padding: 0;
        margin: auto;
    }

    main {
        width: 100vw;
        padding-top: 100px;
    }

    article{
        height: 3500px;
    }

    article div{
        margin-top: 200px;
    }

    #contain_section{
        padding-top: 400px;
    }

    .img {
        width: 340px;
        height: 350px;
    }

    .contain_section_1 > aside {
        width: 300px;
    }

    .contain_section_1> aside > p {
        width: 300px;
        text-align: center;
    }

    .contain_section_2 > aside {
        width: 300px;
    }

    .contain_section_2> aside > p {
        width: 300px;
        text-align: center;
    }

    .contain_section_3 > aside {
        width: 300px;
        margin-right: 0;
    }

    .contain_section_3 > aside > h1{
        font-size: 30px;
        text-align: center;
    }

    .contain_section_3 > aside > p {
        font-size: 17px;
        width: 300px;
        text-align: center;
    }

    .contain_section_4 > aside {
        width: 300px;
    }

    .contain_section_4 > aside > h1{
        font-size: 30px;
        text-align: center;
    }

    .contain_section_4 > aside > p {
        font-size: 17px;
        width: 300px;
        text-align: center;
    }

    .title {
        width: 350px;
    }

    .carousel{
        width: 350px;
    }

    .logo-apoiadores img {
        width: 84px;
        height: 30px;
    }

    .logo-apoiadores img:first-child {
        width: 99px;
    }

    .logo-apoiadores img:nth-child(2) {
        margin-left: -5px;
    }

    .Infos {
        width: 94vw;
        height: 400px;
        flex-wrap: wrap;
    }

    .Infos div{
        margin-left: 15px;
    }

    .Infos div h3 {
        margin-right: 0;
        margin-left: 0;
    }

    .Infos div a {
        margin: 5px 0px;
    }

    .Infos div p {
        margin-right: 0;
        margin-left: 0;
    }

    .redes_sociais p {
        font-size: 13px;
    }

    .redes_sociais {
        padding-top: 34px;
        padding-bottom: 50px;
    }
}


@keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
}